@{
    ViewData["Title"] = "Home Page";

    var emp = ViewData["myEmployee"] as Employee;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@{

if(emp != null) {

<h2>@emp.EmpId</h2>
<h2>@emp.EmpName</h2>
<h2>@emp.Designation</h2>
<h2>@emp.Salary</h2>

}

}




